.errorTemplate{

    background-repeat: no-repeat;
    /* background-position: center;
    background-size: cover; */
    position: absolute;
    top:0%;
    bottom: 0%;
    width:100%;
    /* background-size: 908px 100vh; */
}
